<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Lab Assignment 04 Exercise 02</title>
    <link href="/css/addstyle.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="form-style-5">
        <form method="post">
            <fieldset>
                <div>
                    <H3>Express API is running at PORT 5000</H3>

                </div>

                <br />
            </fieldset>
        </form>
    </div>
</body>

</html>