<!DOCTYPE html>
<html>

<head>
    <title>Machine Learning Prediction</title>
    <link rel="stylesheet" type="text/css" href="css/addstyle.css" />

</head>

<body>
    <div class="form-style-5">
        <table class="border-table">

            <tr class="border-table">
                <h3>Article 01 : </h3>
                <td class="border-table"><%= resultForTest1 %> <br>
                    <br>
                    <br>
                    <br>
                    <h3>Article 02 : </h3>
                </td>
            </tr>

            <tr class="border-table">

                <td class="border-table"><%= resultForTest2 %></td>
            </tr>
        </table>
    </div>
</body>

</html>